@font-face {
  font-family: "retro";
  src: url("./font/retro.ttf");
}
* {
  margin: 0; /* Supprimé pour éviter les marges par défaut */
  padding: 0; /* Supprimé pour éviter les marges par défaut */
}
body {
  image-rendering: pixelated;
  background-color: #000000;
  width: 100%;
  margin: auto; /* Supprimé pour éviter les marges par défaut */
  padding: auto; /* Supprimé pour éviter les marges par défaut */
}
#allScreen {
  background-color: #000000;
  max-width: 2000px;
  display: flex;
  flex-wrap: wrap;
  margin: auto; /* Supprimé pour éviter les marges par défaut */
  padding: auto; /* Supprimé pour éviter les marges par défaut */
}
#halfJoystick {
  height: 100%;
  width: 300px;
}
.leftJoystick {
  width: 150px;
  height: 455px;
  background-color: #000000;
  margin: auto;
  padding: auto;
  display: flex;
  flex-wrap: wrap;
}
#crossOfHalfJoystick {
  width: 135px;
  height: 130px;
  background-image: url("./imagesOfJoystick/97324.png");
  background-position: 0px 0px;
  margin-left: 82.5px;
  margin-right: 82.5px;
  margin-top: 125px;
  margin-bottom: 125px;
  transform: scale(1.2);
}
#directionOfCross {
  width: 36px;
  height: 36px;
  background-color: #949494;
  border-radius: 35px;
  position: absolute;
  top: 46px;
  left: 46px;
  margin-left: 0px;
  margin-right: 0px;
}
.rightJoystick {
  width: 150px;
  height: 455px;
  background-color: #000000;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
#buttonAOfHalfJoystick {
  width: 140px;
  height: 130px;
  background-image: url("./imagesOfJoystick/97324.png");
  background-position: -260px 0px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 0;
}
#buttonBOfHalfJoystick {
  width: 140px;
  height: 130px;
  background-image: url("./imagesOfJoystick/97324.png");
  background-position: -370px 130px;
  margin-left: 10px;
  padding: 0;
}
#buttonXOfHalfJoystick {
  width: 140px;
  height: 130px;
  background-image: url("./imagesOfJoystick/97324.png");
  background-position: -510px 130px;
  margin-right: 10px;
  padding: 0;
}
#buttonYOfHalfJoystick {
  width: 140px;
  height: 130px;
  background-image: url("./imagesOfJoystick/97324.png");
  background-position: -645px 130px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 0;
}

.LTLBButton {
  width: 337px;
  height: 300px;
}
.LBButton {
  width: 230px;
  height: 130px;
  background-image: url("./imagesOfJoystick/97324.png");
  background-position: 0px -130px;
  margin-left: 70px;
}
.LTButton {
  width: 127px;
  height: 130px;
  background-image: url("./imagesOfJoystick/97324.png");
  background-position: -650px -130px;
  margin-left: 180px;
}

.RTRBButton {
  width: 337px;
  height: 300px;
}
.RTButton {
  width: 127px;
  height: 130px;
  background-image: url("./imagesOfJoystick/97324.png");
  background-position: -810px 0px;
}
.RBButton {
  width: 230px;
  height: 130px;
  background-image: url("./imagesOfJoystick/97324.png");
  background-position: 0px 130px;
}
canvas {
  background-color: rgb(110, 110, 110);
  border: #999998 5px solid;
  margin: auto;
}

#startImage {
  position: absolute;
  z-index: 3;
}
@keyframes blink {
  0%,
  49.9% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

#message {
  position: absolute;
  z-index: 4;
  color: #0e6477;
  font-family: "retro";
  font-size: 35px;
  animation: blink 1s infinite;
}
